DATABASE_URL=postgresql://postgres:ваш_пароль@localhost:5432/ваша_база_данных


# === Локальный почтовый сервер (Mailpit) ===
SMTP_HOST=localhost
SMTP_PORT=1025
SMTP_FROM="Расписание университета <ваша_почта@mail.ru>"

# === Реальные настройки (mail.ru) ===
SMTP_HOST=smtp.mail.ru
SMTP_PORT=587
SMTP_USER=ваша_почта@mail.ru
SMTP_PASS= #пароль приложения
SMTP_FROM="Аннотация отправителя <ваша_почта@mail.ru>"

